# Telegram Bot Token
TELEGRAM_TOKEN=your_telegram_bot_api_token

# Telegram Chat ID
CHAT_ID=your_telegram_chat_id

# Solana RPC URL (optional, default is mainnet-beta)
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

# Target Address to Monitor
TARGET_ADDRESS=CRYPTO_CONTRACT_ADDRESS

# Price per Token in USD (optional, default is 1)
PRICE_PER_TOKEN_USD=1
